.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    padding: 10%;
    gap: 100px;
  }
  .button-container button {
    margin: auto;
    width: 500px;
    height: 150px;
    &:hover {
      background-color: #2e2e4e;
      color: #ccc;
      transition: 0.6s ease;
    }
  
  }
  form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: #f7f9fc;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  form h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
    font-weight: bold;
  }
  
  form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  form input[type="text"]:focus,
  form input[type="password"]:focus,
  form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  form input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  form div {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background: #007bff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  form button:hover {
    background: #0056b3;
    transform: scale(1.03);
  }

  .link_user {
    text-decoration: none;
    color: #ccc;
  }
  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 150px;
    display: none;
    z-index: 1000;
  }
  
  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }
  
  .dropdown-menu ul li {
    padding: 10px 20px;
    text-align: left;
  }
  
  .dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .dropdown-menu ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 3px;
  }
  